## Model Development

#### import data

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df = pd.read_csv('data/df_fe.csv', sep=",", index_col=0)

In [16]:
df.head()

,date,Stock,Open,Low,Close,Volume,7_day_avg,30_day_avg,60_day_avg,Price_Change_Pct,Article Length,article_sentiment
0,2015-11-23,AMZN,34.138500,33.506001,33.949501,87702000.0,34.701857,33.766227,33.766227,1.576783,973.0,2.0
1,2015-11-23,AAPL,29.932501,29.334999,29.437500,129930000.0,32.228643,33.646061,33.646061,-1.299248,973.0,2.0
2,2016-01-28,AMZN,31.903000,29.877501,31.767500,280304000.0,30.081143,33.238644,33.238644,8.914032,384.0,5.0
3,2016-02-04,MSFT,52.810001,51.369999,52.000000,46987100.0,33.553286,33.898727,33.898727,-0.306748,793.0,2.0
4,2016-02-09,AMZN,24.919001,23.700001,24.103500,141558000.0,33.085929,34.059894,34.059894,-1.235404,378.0,2.0

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score



# Select features and target
features = ['article_sentiment', "30_day_avg"]  # Predictor
target = 'Price_Change_Pct'  # Target variable

# Handle missing values by removing rows with NaN in relevant columns
df.dropna(subset=features + [target], inplace=True)

# Split the data into training and testing sets (80/20 split)
X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size=0.2, random_state=42)

# Create and train the linear regression model
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

# Test the model on the testing set
y_pred = lin_reg.predict(X_test)

# Calculate evaluation metrics
mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

# Output model evaluation results
mae, rmse, r2

(1.5812829876186068, 2.3183591202351383, 0.0005705614778890311)